<ion-view title="Kemaskini Tuntutan" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="kemaskiniTuntutan-form2" class="list ">
            <label class="item item-input " id="kemaskiniTuntutan-input3" name="name">
                <span class="input-label">Nama Tuntutan</span>
                <input type="text" placeholder="" ng-model="$parent.tuntutan.name">
            </label>
            <label class="item item-input " id="kemaskiniTuntutan-textarea2" name="description">
                <span class="input-label">Penerangan</span><textarea placeholder="" ng-model="tuntutan.description">{{ $parent.tuntutan.description }}</textarea>
            </label>
            <label class="item item-input " id="kemaskiniTuntutan-input4" name="amount">
                <span class="input-label">Jumlah</span>
                <input type="number" placeholder="" ng-model="tuntutan.amount">
            </label>
            <img ng-src="img/{{ tuntutan.photo }}" width="100%">
            <div>
                <input type="file" file-model="myFile" class="item item-input">
            </div>
            <div id="kemaskiniTuntutan-button-bar5" class=" button-bar ">
                <a ui-sref="tuntutan" id="kemaskiniTuntutan-button15" class=" button button-assertive  button-block icon ion-android-cancel "></a>
                <a ui-sref="tuntutan" id="kemaskiniTuntutan-button16" class=" button button-balanced  button-block icon ion-checkmark "></a>
            </div>
        </form>
    </ion-content>
</ion-view>