<ion-view title="Tuntutan" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tambahTuntutan" id="tuntutan-button4" class=" button button-positive  button-block icon ion-plus "></a>
        <ion-list id="tuntutan-list1" class=" ">
            <ion-item class="item-thumbnail-left item-icon-right positive  " id="tuntutan-list-item3" ui-sref="perinciTuntutan">
                <h2positive>Tuntutan Satu
                    <p style="white-space:normal;">Tuntutan makanan....</p>
                    <i class="icon ion-eye"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right positive  " id="tuntutan-list-item5" ui-sref="perinciTuntutan">
                <h2positive>Tuntutan Satu
                    <p style="white-space:normal;">Tuntutan makanan....</p>
                    <i class="icon ion-eye"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right positive  " id="tuntutan-list-item6" ui-sref="perinciTuntutan">
                <h2positive>Tuntutan Satu
                    <p style="white-space:normal;">Tuntutan makanan....</p>
                    <i class="icon ion-eye"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right positive  " id="tuntutan-list-item7" ui-sref="perinciTuntutan">
                <h2positive>Tuntutan Satu
                    <p style="white-space:normal;">Tuntutan makanan....</p>
                    <i class="icon ion-eye"></i>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>