<ion-view title="Tuntutan" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- echo title -->
        <!-- <h1>{{ title }}</h1> -->
        
        <!-- using ng-model -->
        <!-- <input ng-model="title"> -->

        <a ui-sref="tambahTuntutan" id="tuntutan-button4" class=" button button-positive  button-block icon ion-plus "></a>

        <!-- ng-repeat="item in list" -->
        <ion-list id="tuntutan-list1" class=" " ng-repeat="tuntutan in $storage.senarai">
            
            <ion-item class="item-thumbnail-left item-icon-right positive  " id="tuntutan-list-item3" 
            ui-sref="perinciTuntutan({id:tuntutan.id})">
                
                <!-- Show claim photo thumbnail -->
                <img ng-src="img/{{ tuntutan.photo }}">

                <!-- Display Tuntutan details -->
                <h2positive>{{ tuntutan.name }}
                    <p style="white-space:normal;">{{ tuntutan.description }}</p>
                    <i class="icon ion-eye"></i>
                </h2positive>
            </ion-item>
            
        </ion-list>

    </ion-content>
</ion-view>